## Step 2 â€“ SQL Regulatory Reporting with PostgreSQL

In [4]:
import pandas as pd

df = pd.read_csv('../data/cleaned_transactions.csv')
df.head()

,step,type,amount,sender,oldbalanceorg,newbalanceorig,receiver,oldbalancedest,newbalancedest,isfraud,isflaggedfraud,high_value_tx,risk_score
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,0,5
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,0,5
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362604 entries, 0 to 6362603
Data columns (total 13 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   sender          object
 4   oldbalanceorg   float64
 5   newbalanceorig  float64
 6   receiver        object
 7   oldbalancedest  float64
 8   newbalancedest  float64
 9   isfraud         int64
 10  isflaggedfraud  int64
 11  high_value_tx   int64
 12  risk_score      int64
dtypes: float64(5), int64(5), object(3)
memory usage: 631.1+ MB

Keep 10000 entries

In [6]:
sampled_df = df.sample(n=10000, random_state=42)
sampled_df.to_csv('../data/sample_transactions.csv', index=False)